NODE_ENV=

# ! Server Config
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=3000

# ! Swagger Doc url pattern
SWAGGER_DOCS_PATH=docs
SWAGGER_PATH=api_docs

# ! JWT config section 
JWT_SECRET=
jwtAccessExpire=10000
jwtRefreshExpire=10000

# ! Database config section
DATABASE_CONNECTION_URL=postgres://DATABASE_USERNAME:DATABASE_PASSWORD@DATABASE_HOST:DATABASE_PORT/DATABASE_NAME
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_HOST=

SEED_ON_BOOT=true

# ! Super user default data
SUPER_USER_NAME=admin
SUPER_USER_USERNAME=admin
SUPER_USER_PASSWORD=admin

# ! Member user default data (optional)
MEMBER_USER_NAME=member
MEMBER_USER_USERNAME=member
MEMBER_USER_PASSWORD=member

# ! Password hashing params
PASSWORD_HASH_MEMORY_COST=65536
PASSWORD_HASH_TIME_COST=2
PASSWORD_HASH_PARALLELISM=1