NODE_ENV = ""

# ! Server Config
serverAddress = "http://localhost"
serverPort = 3000
lokiServerAddress = "http://{LOKI_ADDRESS}:{LOKI_PORT}"

# ! Swagger Doc url pattern
swaggerDocsPath = ""
swaggerPath = ""

# ! JWT config section !#
jwtSecret = "mySecasdasdasdasdasdasdasdasdretTsadasc"
jwtExpire = 10000

# ! Database config section !#
DATABASE_CONNECTION_URL = "postgres://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
databaseName = ""
databaseUsername = ""
databasePassword = ""
databasePort = ""
databaseHost = ""

# ! Super user default data (Auto generate in setup) !#
SUPER_USER_NAME = ""
SUPER_USER_USERNAME = ""
SUPER_USER_PASSWORD = ""
MEMBER_USER_NAME = ""
MEMBER_USER_USERNAME = ""
MEMBER_USER_PASSWORD = ""