#! Server Config !#
SERVER_ADDRESS = "http://localhost"
SERVER_PORT= 8000

#! Swagger Doc url pattern !#
DOCS_SUB_DIRECTION = "api-docs"
swaggerPath = "api"

#! JWT config section !#
JWT_SECRET_TOKEN = "mySecasdasdasdasdasdasdasdasdretTsadasc"
JWT_EXPIREN_IN = 10000

#! Database config section !#
DATABASE_CONNECTION_URL="postgres://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
DB_NAME=""
DB_USERNAME= ""
DB_PASSWORD= ""
DB_PORT = ""
DB_HOST = ""

#! Where are (uploaded file) stored? !#
UPLOAD_DIRECTORY = "upload"
BACKUP_DIRECTORY = "backup"

#! see: online generatore--> https://crontab.guru/ 
#! 
#!                    ┌───────────── minute (0 - 59)
#!                    │ ┌───────────── hour (0 - 23)
#!                    │ │ ┌───────────── day of the month (1 - 31)
#!                    │ │ │ ┌───────────── month (1 - 12)
#!                    │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
#!                    │ │ │ │ │                                   7 is also Sunday on some systems)
#!                    │ │ │ │ │                                   OR sun, mon, tue, wed, thu, fri, sat
#!                    │ │ │ │ │
AUTO_BACKUP_PERIOD = "* * * * *"