NODE_ENV = ""

# ! Server Config
serverAddress = "://localhost"
serverPort = 3000
lokiServerAddress = "http://loki:3100"

# ! Swagger Doc url pattern
swaggerDocsPath = ""
swaggerPath = ""

# ! JWT config section
jwtSecret = ""
jwtExpire = 10000

# ! Database config section
DATABASE_CONNECTION_URL = ""
databaseName = ""
databaseUsername = ""
databasePassword = ""
databasePort = ""
databaseHost = ""

# ! Super user default data (Auto generate in setup) !#
SUPER_USER_NAME = ""
SUPER_USER_USERNAME = ""
SUPER_USER_PASSWORD = ""