NODE_ENV=development

# ! Server Config
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=3000

# ! Swagger Doc url pattern
SWAGGER_DOCS_PATH=docs
SWAGGER_PATH=api_docs

# ! JWT config section
JWT_SECRET=
JWT_ACCESS_EXPIRE=10000
JWT_REFRESH_EXPIRE=10000

# ! Database config section (must match docker/develop/.docker.dev.env and use
DATABASE_CONNECTION_URL=postgres://DATABASE_USERNAME:DATABASE_PASSWORD@postgres:5432/DATABASE_NAME
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=5432
DATABASE_HOST=postgres

SEED_ON_BOOT=true

# ! Super user default data
SUPER_USER_NAME=admin
SUPER_USER_USERNAME=admin
SUPER_USER_PASSWORD=admin

# ! Member user default data (optional)
MEMBER_USER_NAME=member
MEMBER_USER_USERNAME=member
MEMBER_USER_PASSWORD=member

# ! Password hashing params
PASSWORD_HASH_MEMORY_COST=65536
PASSWORD_HASH_TIME_COST=2
PASSWORD_HASH_PARALLELISM=1
